#common
.vscode/
__pycache__/

#environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#train_and_predict
labeled*/
unlabeled*/
*.h5

#preprocess
ts/
temp/
unlabeled*/

#webapp
node_modules/
dist/
.DS_Store

#api
app.db
test.db
